.login {
    height : 100vh;
    display : flex;
    align-items: center;
    justify-content: center;
    
}

.lContainer {
    display : flex;
    flex-direction: column;
    justify-content: center; 
    gap : 10px;
    width : 300px;
    padding : 30px;
    background-color: #c0e4ff;
    border-radius: 10px;
    border : 1px solid #555;
    box-shadow: 5px 5px gray;
}

.lInput{
    height : 30px;
    padding : 10px;
}

.lButton{
    border : none;
    padding : 10px 20px;
    background-color: #0071c2;
    color : white;
    cursor : pointer;
    border-radius: 5px;
}

.lButton:disabled{
    background-color: #00b1f2;
    cursor:not-allowed;
}